<p>form works!</p>
 <h2>FORM</h2>

        <form action="#" method="post" class="row g-3 mt-3">

            <div class="col-md-6">
                <label for="classname" class="form-label" >Class Name</label>
                <input type="text"
                       class="form-control"
                       id="classname"
                       name="classname"
                       placeholder="Enter class"
                       required>
                <label for="createddate" class="form-label">Status</label>
                <select id="ddlStatus" class="form-control"> 
                    <option>Select Status</option>
                    <option>Active</option>
                    <option>Inactive</option>
                </select>

                <button type="submit" class="btn btn-primary d-block" style="margin-top: 20px;">Submit</button>
            </div>

        </form>
