
<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main" *ngIf="action.ResponseReceived">
    <div class="row">
        <div class="pagetitle dashboard col-sm-8">
            <h1>{{action.MenuTitle}}</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                <li class="breadcrumb-item">{{action.ParentMenuTitle}}</li>
                <li class="breadcrumb-item active">{{action.MenuTitle}}</li>
              </ol>
            </nav>
          </div>
        <div class="col-sm-4">
         
             <button mat-raised-button color="primary" *ngIf="action.CanCreate" class="float-right"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="resetForm()">New
                serviceSubcategory</button>
        </div>
    </div>




    <div *ngIf="action.CanEdit || action.CanCreate" class="modal fade modal-lg" id="staticBackdrop"
        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">{{serviceSubcategory.serviceSubcategoryId > 0 ? 'Update':'New'}}
                        serviceSubcategory
                    </h1>

                     <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="resetForm()"></button> 
                </div>
                <div class="modal-body">
                    <form #formserviceSubcategory="ngForm" class="d-flex justify-content-evenly flex-wrap">
                        <div class="container">

                            <div class="row">

                                <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>serviceSubcategory Name</mat-label>
                                    <input matInput #serviceSubcategoryName="ngModel" name="serviceSubcategoryName" [(ngModel)]="serviceSubcategory.serviceSubcategoryName"
                                        required autofocus>
                                    <mat-error
                                        *ngIf="(serviceSubcategoryName.dirty  || serviceSubcategoryName.touched) || (serviceSubcategoryName.invalid && isSubmitted)">
                                        serviceSubcategory name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            
                            
                        

                                <!--status-->
                                <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                    <mat-label>Status</mat-label>
                                    <mat-select #Status="ngModel" name="Status" [(ngModel)]="serviceSubcategory.Status" required>
                                        <mat-option [value]="status.Key"
                                            *ngFor="let status of StatusList">{{status.Value}}</mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="(Status.dirty  || Status.touched) || (Status.invalid && isSubmitted)">
                                        Status is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="modal-footer mt-2">

                     <button type="button" mat-raised-button color="warn" class="me-2" data-bs-dismiss="modal"
                        (click)="resetForm()">Cancel</button>

                     <button mat-raised-button color="primary" (click)="saveserviceSubcategory()">{{serviceSubcategory.serviceSubcategoryId >
                        0 ? 'Update':'Submit'}}</button>
                </div>
            </div>
        </div>
    </div>
</main>