<p>manage-opd-list works!</p>
<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main" *ngIf="action.ResponseReceived">
    <div class="row">
        <div class="pagetitle dashboard col-sm-8">
            <h1>{{action.MenuTitle}}</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                    <li class="breadcrumb-item">{{action.ParentMenuTitle}}</li>
                    <li class="breadcrumb-item active">{{action.MenuTitle}}</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-4">

            <button mat-raised-button color="primary" *ngIf="action.CanCreate" class="float-right"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="resetForm()">New
                Patient</button>
        </div>
    </div>

    <section class="section dashboard">
        <div class="card">
            <div class="card-body ">
                <div class="dataTable-top">
                    <div class="dataTable-dropdown d-flex">
                        <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                            <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
                        </select>
                        <span class="ms-2">Entries per page</span>
                    </div>
                    <div class="dataTable-search">
                        <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                            placeholder="Search..." type="text">
                    </div>
                </div>
                <div class="table-container overflow-auto">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th (click)="sort('PatientName')">Patient Name</th>
                                <th (click)="sort('UHIDNo')">Patient UHID Number</th>
                                <th (click)="sort('Gender')">Gender</th>
                                <th (click)="sort('BloodGroup')">Blood Group</th>
                                <th (click)="sort('MaritalStatus')"> Marital Status</th>
                                <th (click)="sort('DateOfBirth')">Date Of Birth</th>
                                <th (click)="sort('Age')">Age</th>
                                <th (click)="sort('MobileNo')">Mobile No</th>
                                <th (click)="sort('Email')">E-mail </th>
                                <th (click)="sort('JoinDate')">Join Date</th>
                                <th (click)="sort('Address')">Address</th>
                                <th (click)="sort('AadharNo')">AadharNo</th>
                                <th *ngIf="action.CanEdit">Edit</th>
                                <th *ngIf="action.CanDelete">Delete</th>
                                <th (click)="sort('Status')">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of PatientList |filter:Search:true|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
                                <td>{{(itemPerPage * (p -1)) +i+ 1}}</td>
                                <td>{{item.PatientName}}</td>
                                <td>{{item.UHIDNo}}</td>
                                <td>{{AllGenderList[item.Gender]}}</td>
                                <td>{{AllBloodGroupList[item.BloodGroup]}}</td>
                                <td>{{AllMaritalStatusList[item.MaritalStatus]}}</td>
                                <td style="white-space:nowrap">{{item.DateOfBirth | date: "dd-MM-yy"}}</td>
                                <td>{{item.Age}}</td>
                                <td>{{item.MobileNo}}</td>
                                <td>{{item.Email}}</td>
                                <td style="white-space:nowrap">{{item.JoinDate | date: "dd-MM-yy"}}</td>
                                <td>{{item.Address}}</td>
                                <td>{{item.AadharNo}}</td>
                                <td *ngIf="action.CanEdit">
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop" (click)="editPatient(item)">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </td>
                                <td *ngIf="action.CanDelete">
                                    <button class="btn btn-sm btn-danger" (click)="deletePatient(item)">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </td>
                                <td>
                                    <span class="p-1"
                                        [ngClass]="item.Status == 1 ? 'badge text-bg-success':'badge text-bg-danger'">
                                        {{AllStatusList[item.Status]}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="dataTable-bottom ">
                    <pagination-controls (pageChange)="onTableDataChange($event)"
                        class="pagination justify-content-end"></pagination-controls>
                </div>
            </div>
        </div>

    </section>



</main>
