<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main" *ngIf="action.ResponseReceived">
    <div class="row">
        <div class="pagetitle dashboard col-sm-8">
            <h1>{{action.MenuTitle}}</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                    <li class="breadcrumb-item">{{action.ParentMenuTitle}}</li>
                    <li class="breadcrumb-item active">{{action.MenuTitle}}</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-4">

            <button mat-raised-button color="primary" *ngIf="action.CanCreate" class="float-right"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="resetForm()">New
                Patient</button>
        </div>
    </div>

    <section class="section dashboard">
        <div class="card">
            <div class="card-body ">
                <div class="dataTable-top">
                    <div class="dataTable-dropdown d-flex">
                        <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                            <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
                        </select>
                        <span class="ms-2">Entries per page</span>
                    </div>
                    <div class="dataTable-search">
                        <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                            placeholder="Search..." type="text">
                    </div>
                </div>
                <div  class="opd-table-wrapper table-responsive">
                    <table class="table table-bordered table-hover text-center align-middle ">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th (click)="sort('OpdNo')">Opd No</th>
                                <th (click)="sort('OpdDate')">Opd Date</th>
                                <th (click)="sort('UHIDNo')">UHID</th>
                                <th (click)="sort('PatientName')">Patient Name</th>
                                <th (click)="sort('MobileNo')"> Mobile No</th>
                                <th (click)="sort('TokenNo')">Token No</th>
                                <th (click)="sort('LineTotal')">Rate</th>
                                <th (click)="sort('TotalDiscount')">Discount</th>
                                <th (click)="sort('GrandTotal')">Grand Total</th>
                                <th (click)="sort('TotalPaidAmount')">Total Paid Amount</th>
                                <th (click)="sort('TotalDuesAmount')">Dues Amount</th>
                                <th *ngIf="action.CanEdit">View</th>
                                <th *ngIf="action.CanEdit">Edit</th>
                                <th *ngIf="action.CanDelete">Cancel</th>
                                <th *ngIf="action.CanDelete">Pay</th>
                                <th (click)="sort('Status')">Payment Status</th>
                                <th (click)="sort('BillStatus')">Bill Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of OpdList |filter:Search:true|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
                                <td>{{(itemPerPage * (p -1)) +i+ 1}}</td>
                                <td>{{item.OpdNo}}</td>
                                <td style="white-space:nowrap">{{item.OpdDate | date: "dd-MM-yy"}}</td>
                                <td>{{item.UHIDNo}}</td>
                                <td>{{item.PatientName}}</td>
                                <td>{{item.MobileNo}}</td>
                                <td>{{item.TokenNo}}</td>
                                <td>{{item.LineTotal}}</td>
                                <td>{{item.TotalDiscount}}</td>
                                <td>{{item.GrandTotal}}</td>
                                <td>{{item.TotalPaidAmount}}</td>
                                <td>{{item.TotalDuesAmount}}</td>
                                <td class="text-center">
                                    <button *ngIf="item.PaymentStatus != OpdList.Cancelled"
                                        class="btn btn-sm btn btn-primary">
                                        <!-- //(click)="openViewModal(item)" -->
                                        <i class="bi bi-eye-fill"></i>
                                    </button>
                                </td>
                                <td *ngIf="action.CanEdit">
                                    <button class="btn btn-sm btn-warning">
                                        <!-- (click)="editPatient(item)" -->
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </td>
                                <td *ngIf="action.CanDelete">
                                    <button class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop" (click)="openCancelModal(item)">
                                        <i class="bi bi-x-octagon-fill"></i>
                                    </button>
                                </td>
                                <td *ngIf="action.CanDelete">
                                    <button class="btn btn-sm btn-danger">
                                        <!-- (click)="deletePatient(item)" -->
                                        <i class="bi bi-wallet2"></i>

                                    </button>
                                </td>
                                <td class="text-center">
                                    <span class="badge p-1"
                                        [ngClass]="item.PaymentStatus === PaymentStatusEnum.Paid ? 'text-bg-success': 'text-bg-warning'">
                                        {{ PaymentStatusEnum[item.PaymentStatus] }}

                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="badge p-1"
                                        [ngClass]="item.BillStatus === BillStatusEnum.confirmed? 'text-bg-success': 'text-bg-warning'">
                                        {{ BillStatusEnum[item.BillStatus] }}

                                    </span>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="dataTable-bottom ">
                    <!-- <pagination-controls (pageChange)="onTableDataChange($event)"
                        class="pagination justify-content-end"></pagination-controls> -->
                </div>
            </div>
        </div>

    </section>



    <div *ngIf="action.CanEdit || action.CanCreate" class="modal fade modal-lg" id="staticBackdrop"
        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Cancel Opd</h1>

                    <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="resetForm()"></button>
                </div>
                <div class="modal-body">
                    <form #OpdCancelForm="ngForm" class="d-flex justify-content-evenly flex-wrap">
                        <div class="container">

                            <!-- Patient Name -->
                            <div class="col-sm-5 mb-3">
                                <label class="fw-semibold mb-1 d-block">
                                    Patient Name
                                </label>

                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput name="PatientName" [(ngModel)]="OpdPatient.PatientName" readonly />
                                </mat-form-field>
                            </div>

                            <div class="col-sm-8">
                                <label class="fw-semibold mb-1 d-block">
                                    Reason for Cancelling OPD
                                </label>

                                <mat-form-field appearance="outline" class="w-100">
                                    <textarea matInput name="CancelReason" [(ngModel)]="OpdPatient.CancelReason"
                                        #CancelReason="ngModel" placeholder="Enter cancellation reason..." rows="3"
                                        required>
                                </textarea>
                                    <mat-error *ngIf="CancelReason.invalid && (CancelReason.touched || isSubmitted)">
                                        Cancellation reason is required
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput [matDatepicker]="OpdCancelDatePicker" name="OpdCancelDate"
                                        [(ngModel)]="OpdPatient.OpdCancelDate" #CancelDate="ngModel" required />

                                    <mat-datepicker-toggle matSuffix
                                        [for]="OpdCancelDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #OpdCancelDatePicker></mat-datepicker>

                                    <mat-error *ngIf="CancelDate.invalid && (CancelDate.touched || isSubmitted)">
                                        Cancellation date is required
                                    </mat-error>
                                </mat-form-field>


                                <div class="col-sm-4 mb-3">
                                    <label class="fw-semibold mb-1 d-block">
                                        Bill Status
                                    </label>

                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-select name="BillStatus" [(ngModel)]="OpdPatient.BillStatus">
                                            <mat-option [value]="2">Cancelled</mat-option>
                                            <mat-option [value]="1">Confirmed</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="modal-footer mt-2">

                    <button type="button" mat-raised-button color="warn" class="me-2" data-bs-dismiss="modal"
                        (click)="resetForm()">Cancel</button>

                    <button mat-raised-button color="primary" (click)="SaveCancelationOpd()">Submit</button>
                </div>
            </div>
        </div>
    </div>













</main>