<p>service-charge works!</p>
<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main" *ngIf="action.ResponseReceived">
    <div class="row">
        <div class="pagetitle dashboard col-sm-8">
            <h1>{{action.MenuTitle}}</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                <li class="breadcrumb-item">{{action.ParentMenuTitle}}</li>
                <li class="breadcrumb-item active">{{action.MenuTitle}}</li>
              </ol>
            </nav>AllGenderList
          </div>
        <div class="col-sm-4">
         
             <button mat-raised-button color="primary" *ngIf="action.CanCreate" class="float-right"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="resetForm()">New
                Patient</button>
        </div>
    </div>