<p>manage-opd works!</p>
<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main" *ngIf="action.ResponseReceived">
  <div class="row">
    <div class="pagetitle dashboard col-sm-8">
      <h1>{{ action.MenuTitle }}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="admin/admin-dashboard">Home</a>
          </li>
          <li class="breadcrumb-item">{{ action.ParentMenuTitle }}</li>
          <li class="breadcrumb-item active">{{ action.MenuTitle }}</li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <!-- No Labels Form -->
            <form #formOpdPatient="ngForm" class="row g-3">
              <fieldset class="patient-details">
                <legend>Patient Details</legend>

                <div class="row">
                  <mat-form-field appearance="outline" class="col-md-4 form-group">
                    <mat-label>Search By Patient UHID No./Name/Mobile No.</mat-label>
                    <input matInput #CustomerId="ngModel" name="PatientId" (ngModelChange)="filterPatientList($event)"
                      placeholder="Search Patient UHID No./Name/Mobile No." [(ngModel)]="OpdPatient.PatientName"
                      [matAutocomplete]="autoPatient" required autofocus />
                    <mat-autocomplete #autoPatient="matAutocomplete" (optionSelected)="afterPatientSelected($event)">
                      <mat-option *ngFor="let option of PatientList" [id]="option.PatientId"
                        [value]="option.PatientName">{{ option.SearchPatient }}</mat-option>
                    </mat-autocomplete>
                    <button mat-icon-button matSuffix *ngIf="OpdPatient.PatientName" color="primary"
                      (click)="clearPatient()">
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-error>Patient Name required !!</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-md-2 form-group">
                    <mat-label>UHID No.</mat-label>
                    <input matInput #UHIDNo="ngModel" name="UHIDNo" [(ngModel)]="OpdPatient.UHIDNo" readonly />
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-md-3 form-group">
                    <mat-label>Patient Name</mat-label>
                    <input matInput #PatientNameauto="ngModel" name="PatientNameauto"
                      [(ngModel)]="OpdPatient.PatientNameauto" readonly />
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-md-1 form-group">
                    <mat-label>Age</mat-label>
                    <input matInput #Age="ngModel" name="Age" [(ngModel)]="OpdPatient.Age" readonly />
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-md-2 form-group">
                    <mat-label>Mobile No.</mat-label>
                    <input matInput #MobileNo="ngModel" name="MobileNo" [(ngModel)]="OpdPatient.MobileNo" readonly />
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-md-3 form-group">
                    <mat-label>Address</mat-label>
                    <input matInput #Address="ngModel" name="Address" [(ngModel)]="OpdPatient.Address" readonly />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-md-2 form-group">
                    <mat-label>Aadhar no </mat-label>
                    <input matInput #AadharNo="ngModel" name="AadharNo" [(ngModel)]="OpdPatient.AadharNo" readonly />
                  </mat-form-field>


                  <mat-form-field appearance="outline" class="col-sm-3 form-group">
                    <mat-label>Blood Group</mat-label>
                    <mat-select #BloodGroup="ngModel" name="BloodGroup" [(ngModel)]="OpdPatient.BloodGroup"
                      disabled="true">
                      <mat-option [value]="BloodGroup.Key"
                        *ngFor="let BloodGroup of BloodGroupList">{{BloodGroup.Value}}</mat-option>
                    </mat-select>
                    <mat-error>
                      Blood Group is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>


                  <!-- Opd Type  -->
                  <mat-form-field appearance="outline" class="col-sm-2 form-group">
                    <mat-label>OPD Type</mat-label>
                    <mat-select name="OpdType" [(ngModel)]="OpdPatient.OpdType" required #OpdType="ngModel">
                      <mat-option *ngFor="let type of OpdTypeList" [value]="type.Key">
                        {{ type.Value }}
                      </mat-option>
                    </mat-select>

                    <!-- Validation message -->
                    <mat-error *ngIf="OpdType.invalid && (OpdType.dirty || OpdType.touched)">
                      OPD Type is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>


                  <!-- Opd date -->
                  <mat-form-field appearance="outline" class="col-sm-2 form-group">
                    <mat-label>Opd Date</mat-label>
                    <input matInput #OpdDate="ngModel" name="OpdDate" [(ngModel)]="OpdPatient.OpdDate" required
                      [matDatepicker]="JoinDatePicker">
                    <mat-datepicker-toggle matIconSuffix [for]="JoinDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #JoinDatePicker></mat-datepicker>
                    <mat-error *ngIf="(OpdDate.dirty  || OpdDate.touched) || (OpdDate.invalid && isSubmitted)">
                      Opd Date is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </fieldset>
            </form>
            <br />
            <form #formOpdPatient="ngForm" class="row g-3">
              <fieldset class="patient-details">
                <legend>Service Details</legend>
                <div class="row">
                  <!-- Service Category -->
                  <mat-form-field appearance="outline" class="col-md-2 mb-2 custom-mat-form-field">
                    <mat-label>Service Category</mat-label>
                    <mat-select #ServiceCategoreyId="ngModel" name="ServiceCategoryId"
                      (selectionChange)="changeCategory()" [(ngModel)]="ServiceDetail.ServiceCategoryId">
                      <mat-option *ngFor="let status of servicecategoryList" [value]="status.ServiceCategoryId">
                        {{ status.ServiceCategoryName }}
                      </mat-option>
                    </mat-select>
                    <!-- <mat-error>Required Field !!</mat-error> -->
                  </mat-form-field>

                  <!-- Service Sub-Category -->
                  <mat-form-field appearance="outline" class="col-md-2 mb-2 custom-mat-form-field">
                    <mat-label>Service Sub-Category</mat-label>
                    <mat-select name="ServiceSubCategoryId" [(ngModel)]="ServiceDetail.ServiceSubCategoryId"
                      (selectionChange)="
                        onServiceSubCategoryChange($event.value)
                      ">
                      <mat-option *ngFor="let status of serviceSubcategoryList" [value]="status.ServiceSubCategoryId">
                        {{ status.ServiceSubCategoryName }}
                      </mat-option>
                    </mat-select>
                    <!-- <mat-error>Required Field !!</mat-error> -->
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-md-2 form-group">
                    <mat-label>Service Amount</mat-label>
                    <input type="number" matInput #ServiceChargeAmount="ngModel" name="ServiceChargeAmount"
                      [(ngModel)]="ServiceDetail.ServiceChargeAmount" readonly />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-md-1 form-group">
                    <mat-label>Qty.</mat-label>
                    <input type="number" matInput #Quantity="ngModel" name="Quantity"
                      [(ngModel)]="ServiceDetail.Quantity" (ngModelChange)="calculateTotal()" min="1" autofocus
                      required />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-md-2 form-group">
                    <mat-label>Discount</mat-label>
                    <input type="number" matInput #Discount="ngModel" name="Discount"
                      [(ngModel)]="ServiceDetail.Discount" (ngModelChange)="calculateTotal()" min="0" autofocus />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-md-2 form-group">
                    <mat-label>Total</mat-label>
                    <input type="number" matInput #Total="ngModel" name="Total" [(ngModel)]="ServiceDetail.Total"
                      readonly />
                  </mat-form-field>

                  <button mat-raised-button color="primary" class="col-md-1 blue-btn" (click)="addServiceDetail()">
                    Add
                  </button>

                  <!-- <mat-form-field appearance="outline" class="col-md-2 form-group">
                    <mat-label>Amount</mat-label>
                    <input matInput #ServiceChargeAmount="ngModel" name="Amount" [(ngModel)]="OpdPatient.Amount" readonly />
                  </mat-form-field> -->
                </div>
              </fieldset>
            </form>
            <table class="table table-bordered table-hover center-table mb-4">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th style="cursor: pointer" (click)="sort('ServiceCategoryName')">
                    Service Category
                  </th>
                  <th style="cursor: pointer" (click)="sort('ServiceSubCategoryName')">
                    Service Sub-Category
                  </th>
                  <th style="cursor: pointer" (click)="sort('ServiceChargeAmount')">
                    Amount
                  </th>
                  <th style="cursor: pointer" (click)="sort('Quantity')">
                    Quantity
                  </th>
                  <th style="cursor: pointer" (click)="sort('Discount')">
                    Discount
                  </th>
                  <th style="cursor: pointer" (click)="sort('Total')">Total</th>
                  <th *ngIf="action.CanDelete">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                    let item of ServiceDetailList
                      | filter : Search
                      | orderBy : sortKey : reverse
                      | paginate
                        : { itemsPerPage: itemPerPage, currentPage: p };
                    let i = index
                  ">
                  <td>{{ itemPerPage * (p - 1) + i + 1 }}</td>
                  <td>{{ item.ServiceCategoryName }}</td>
                  <td>{{ item.ServiceSubCategoryName }}</td>
                  <td>{{ item.ServiceChargeAmount }}</td>
                  <td>{{ item.Quantity }}</td>
                  <td>{{ item.Discount }}</td>
                  <td>{{ item.Total }}</td>
                  <td class="delete-cell">
                    <!-- <button color="warn" matTooltip="Delete Service" (click)="deleteServiceDetail(i)">
                      <mat-icon>delete_outline</mat-icon>
                    </button> -->
                    <button mat-icon-button class="del-btn" color="warn" (click)="deleteServiceDetail(i)">
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                  </td>
                </tr>
                <tr class="total-row" *ngIf="ServiceDetailList.length > 0">
                  <td colspan="3" class="text-end"><strong>Grand Total</strong></td>
                  <td><strong>{{ totalAmount }}</strong></td>
                  <td><strong>{{ totalQuantity }} </strong></td>
                  <td><strong>{{ totalDiscount }}</strong></td>
                  <td><strong>{{ grandTotal }}</strong></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <br>

            <form #formOpdPatient="ngForm" class="row g-3">
              <fieldset class="patient-details">
                <legend>Payment Details</legend>

                <div class="row">

                  <mat-form-field appearance="outline" class="col-md-2 form-group">
                    <mat-label> Total Quantity</mat-label>
                    <input type="number" matInput #TotalQty="ngModel" name="TotalQty" [(ngModel)]="OpdPatient.TotalQty"
                      readonly />
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-md-2 form-group">
                    <mat-label>Line Total</mat-label>
                    <input type="number" matInput #LineTotal="ngModel" name="LineTotal"
                      [(ngModel)]="OpdPatient.LineTotal" readonly />
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-md-2 form-group">
                    <mat-label>Total Discount</mat-label>
                    <input type="number" matInput #TotalDiscount="ngModel" name="TotalDiscount"
                      [(ngModel)]="OpdPatient.TotalDiscount" readonly />
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-md-2 form-group">
                    <mat-label>Grand Total</mat-label>
                    <input type="number" matInput #GrandTotal="ngModel" name="GrandTotal"
                      [(ngModel)]="OpdPatient.GrandTotal" readonly />
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-md-2 form-group">
                    <mat-label>Dues Amount</mat-label>
                    <input type="number" matInput #TotalDuesAmount="ngModel" name="TotalDuesAmount"
                      [(ngModel)]="OpdPatient.TotalDuesAmount" readonly />
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="col-md-2 form-group">
                    <mat-label>Total Paid Amount</mat-label>
                    <input type="number" matInput #TotalPaidAmount="ngModel" name="TotalPaidAmount"
                      [(ngModel)]="OpdPatient.TotalPaidAmount" readonly />
                  </mat-form-field>


                </div>
              </fieldset>


                <fieldset class="patient-details">
                <legend>Payment Collection</legend>
                <div class="row">


                  <mat-form-field appearance="outline" class="col-md-2 form-group">
                    <mat-label>Paid Amount </mat-label>
                    <input type="number" matInput #Amount="ngModel" name="Amount" [(ngModel)]="Payment.Amount" min="0" (ngModelChange)="autoUpdatePaymentValues()"
                      autofocus />
                  </mat-form-field>

                  <!-- Payment Mode -->
                  <mat-form-field appearance="outline" class="col-sm-3 form-group">
                    <mat-label>Payment Mode</mat-label>
                    <mat-select name="PaymentMode" [(ngModel)]="Payment.PaymentMode">
                      <mat-option *ngFor="let mode of PaymentModeList" [value]="mode.Key">
                        {{ mode.Value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- Payment Type -->
                  <mat-form-field appearance="outline" class="col-sm-3 form-group">
                    <mat-label>Payment Type</mat-label>
                    <mat-select name="PaymentType" [(ngModel)]="Payment.PaymentType">
                      <mat-option *ngFor="let type of PaymentTypeList" [value]="type.Key">
                        {{ type.Value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>



                  <mat-form-field appearance="outline" class="col-sm-3 form-group">
                    <mat-label>Payment Date</mat-label>
                    <input matInput #PaymentDate="ngModel" name="PaymentDate" [(ngModel)]="Payment.PaymentDate" required
                      [matDatepicker]="JoinDatePicker">
                    <mat-datepicker-toggle matIconSuffix [for]="JoinDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #JoinDatePicker></mat-datepicker>
                    <mat-error
                      *ngIf="(PaymentDate.dirty  || PaymentDate.touched) || (PaymentDate.invalid && isSubmitted)">
                      PaymentDate is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>




                  <button mat-raised-button color="primary" class="col-md-1 blue-btn" (click)="AddPaymentDetailList()">
                    Add
                  </button>

                  <table class="table table-bordered table-hover center-table">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th style="cursor: pointer" (click)="sort('Amount')">Paid Amount</th>
                        <th style="cursor: pointer" (click)="sort('PaymentMode')">Payment Mode</th>
                        <th style="cursor: pointer" (click)="sort('PaymentType')">Payment Type</th>
                        <th style="cursor: pointer" (click)="sort('PaymentDate')">Payment Date</th>
                        <th *ngIf="action.CanDelete">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
                    let item of PaymentDetailList
                      | filter : Search
                      | orderBy : sortKey : reverse
                      | paginate
                        : { itemsPerPage: itemPerPage, currentPage: p };
                    let i = index">

                        <td>{{ itemPerPage * (p - 1) + i + 1 }}</td>
                        <td>{{ item.Amount }}</td>
                        <td>{{ getPaymentModeName(item.PaymentMode) }}</td>
                        <td>{{ getPaymentTypeName(item.PaymentType) }}</td>
                        <td>{{ item.PaymentDate | date:'dd/MM/yyyy' }}</td>
                        <td>
                          <button mat-icon-button class="del-btn" color="warn" (click)="deletePaymentDetail(i)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </td>

                      </tr>
                    </tbody>
                  </table>

                  <!-- Remarks Field -->
                  <mat-form-field appearance="outline" class="col-sm-5 form-group">
                    <mat-label>Remarks</mat-label>
                    <textarea matInput name="Remarks" [(ngModel)]="Payment.Remarks"
                      placeholder="Enter any notes or remarks here..." rows="2"></textarea>
                  </mat-form-field>
                  <br>

                  <!-- Submit Button -->
                  <button mat-raised-button color="accent" class="submit-btn" (click)="submitPaymentDetails()">
                    <mat-icon>check_circle</mat-icon> Submit
                  </button>


                  <!-- <mat-form-field appearance="outline" class="col-md-2 form-group">
                    <mat-label>Amount</mat-label>
                    <input matInput #ServiceChargeAmount="ngModel" name="Amount" [(ngModel)]="OpdPatient.Amount" readonly />
                  </mat-form-field> -->
                </div>
              </fieldset>
            </form>
           
            <!-- <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>